/* Fundo da página */
body {
    background-color: #FFC0CB; /* Rosa claro */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

/* Escrita Bem-vindo em Rosa Choque */
.titulo-rosa {
    color: #FF1493 !important; /* Rosa Choque forçado */
    font-size: 3.5rem;
    margin-bottom: 20px;
}

/* Container da Barra */
#progress-container {
    width: 300px;
    height: 30px;
    background-color: white;
    border: 3px solid #28a745;
    border-radius: 15px;
    overflow: hidden;
}

/* ANIMAÇÃO DA BARRA: 5 SEGUNDOS */
#progress-bar {
    width: 0%;
    height: 100%;
    background-color: #28a745; /* Verde */
    animation: carregarBarra 5s linear forwards;
}

/* Esconde a barra e mostra o botão após 5 segundos */
#container-geral {
    animation: sumirBarra 0.1s forwards 5s;
}

#btn-jogar {
    display: none;
    background-color: #28a745;
    color: white; /* Escrita branca */
    padding: 15px 40px;
    font-size: 1.5rem;
    border
