/* Configurações da Página */
body {
    background-color: #FFC0CB; /* Rosa */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    color: #FF1493; /* Rosa Choque */
    font-size: 3rem;
}

/* Container da Barra */
#progress-container {
    width: 300px;
    height: 20px;
    background-color: white;
    border: 2px solid #28a745;
    border-radius: 10px;
    overflow: hidden;
    /* Faz o container sumir depois de 3 segundos */
    animation: sumir 0.1s forwards 3s;
}

/* Animação da Barra Verde */
#progress-bar {
    width: 0%;
    height: 100%;
    background-color: #28a745;
    /* Carrega de 0 a 100% em 3 segundos */
    animation: carregar 3s linear forwards;
}

/* Botão Jogar */
#btn-jogar {
    display: none; /* Escondido no início */
    background-color: #28a745;
    color: white;
    padding: 15px 40px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    /* Aparece logo após a barra sumir */
    animation: aparecer 0.1s forwards 3s;
}

/* Esconde o Checkbox */
.hidden-check {
    display: none;
}

/* O Bolo (Escondido) */
#bolo {
    display: none;
    font-size: 100px;
}

/* Lógica: Quando clicar no botão (label do checkbox), mostra o bolo */
#trigger-jogo:checked ~ #bolo {
    display: block;
}
#trigger-jogo:checked ~ #btn-jogar {
    display: none;
}

/* ANIMAÇÕES */
@keyframes carregar {
    to { width: 100%; }
}

@keyframes sumir {
    to { display: none; width: 0; height: 0; border: none; padding: 0; }
}

@keyframes
